.landing-page {
    background: white url('./assets/images/card1.jpg') scroll center;
    background-size: cover;
    height: 100vh;
    color: pink;
}
.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}